<!DOCTYPE html>
<html lang="pt-br">
<html>
<head>
	<title>Error</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesheets\style.css">
</head>
<body>
	<h1>Error <%= status %></h1>
	<h2><%= msg %></h2>
</body>
</html>