<!DOCTYPE html>
<html lang="pt-br">
<html>
<head>
	<title>Brazilian Cryptocurrencies Exchanges - Candlestick Chart</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.min.css" />
	<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.jqplot.min.js"></script>
	<script type="text/javascript" src="/javascripts/excanvas.js"></script>
	<script type="text/javascript" src="/javascripts/jqplot.dateAxisRenderer.js"></script>
	<script type="text/javascript" src="/javascripts/jqplot.ohlcRenderer.js"></script>
	<script type="text/javascript" src="/javascripts/jqplot.highlighter.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.jqplot.min.css" />
	<script type="text/javascript" src="/javascripts/ct-front.js"></script>
</head>
<body>

	<form name="frm" accept="plain/text">
		<select id="excId" name="exc">
			<option value="">Exchange...</option>
			<% 	for (var x = 0; x < excList.length; x++) { %>
			<option value="<%= excList[x].name %>" <% if (excList[x].name == exchange) { %> selected <% } %> > <%= excList[x].name %></option>
			<% 	} %>
		</select>
		<select id="mktId" name="mkt" disabled="true">
			<option value="">Mercado...</option>
			<% 	for (var y = 0; y < mktList.length; y++) { %>
			<option value="<%= mktList[y].name %>" <% if (mktList[x].name == market) { %> selected <% } %> ><%= mktList[y].name %></option>
			<% 	} %>
		</select>
		<select id="cndlId" name="cndl" disabled="true">
			<option value="">Intervalo...</option>
			<option value="MIN10">10 min</option>
			<option value="MIN30">30 min</option>
		</select>
	</form>

	<div id="chartId" style="width:100%;height:400px;"></div>


</body>
</html>